<!DOCTYPE html>
<html ng-app="schedule">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="js/schedule.js"></script>
    <title>Node App</title>
  </head>

  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">My Workouts</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <body>

    <section>
      <ul class="nav nav-pills">
        <li><a href="#">Sunday</a></li>
        <li><a href="#">Monday</a></li>
        <li><a href="#">Tuesday</a></li>
        <li><a href="#">Wednesday</a></li>
        <li><a href="#">Thursday</a></li>
        <li><a href="#">Friday</a></li>
        <li><a href="#">Saturday</a></li>
      </ul>
    </section>


    <form>
      <!-- Exercise Type -->
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="exercise-type">Exercise Type</label>
          <select class="form-control" id="exercise-type">
            <option disabled selected value style="display:none"></option>
            <option>Chest</option>
            <option>Back</option>
            <option>Triceps</option>
            <option>Biceps</option>
            <option>Other</option>
          </select>
        </div>
      </div>

      <!-- Exercise -->
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="exercise">Exercise</label>
          <input class="form-control" id="exercise" type="text" />
        </div>
      </div>

      <!-- Sets -->
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="sets">Sets</label>
          <input class="form-control" id="sets" type="text" />
        </div>
      </div>

      <!-- Reps -->
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="reps">Reps/Set</label>
          <input class="form-control" id="reps" type="text" />
        </div>
      </div>

      <!-- Weight -->
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="weight">Weight</label>
          <input class="form-control" id="weight" type="text" />
        </div>
      </div>

      <button type="submit" id="exercise-submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
  <script src="js/main.js"></script>

</html>
